/* Original Styles For Numbers, before icons added in */
// .faDice {
//   font-size: 5rem;
//   display: inline-block;
//   padding: 0.5em 0.8em;
//   font-family: monospace;
//   font-weight: bold;
//   background-color: black;
//   color: white;
//   margin-right: 1em;
// }

/* THE NICER STYLES MADE FOR THE FONT-AWESOME ICONS... */

.faDice {
  color: white;
  filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.5));
  transition: all 0.3s ease;
  font-size: 5rem;
}
//svg geht nicht text shadow, sondern filter
.faDice-locked {
  opacity: 0.5;
  text-shadow: none;
}

.faDice:not(.faDice-locked):hover {
  cursor: pointer;
  opacity: 0.8;
}
.faDice-rolling {
  animation: spin 1s ease-out;
}

.faDice-rolling:hover,
.faDice[disabled] {
  cursor: not-allowed;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
